.bg{
    background-image: url(../../assets/expibg.jpg);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

.content {
    color: #17bf9e;
    margin-top: 200px;
    text-align: center;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgb(6, 5, 5);
   
}

.content h1{
    font-size: 95px;
    margin-bottom: 10px;
}

.crad{
    display: flex;
    margin-top: 300px;
    margin-left: 60px;
    margin-right: 60px;
    gap: 50px;
    margin-bottom: 100px;
    
}


@media (max-width: 768px) {
    .content {
      margin-top: 100px; /* Adjust for smaller screens */
    }
  
    .content h1 {
      font-size: 60px; /* Adjust for smaller screens */
    }
  
    .crad {
      flex-direction: column; /* Stack cards vertically on smaller screens */
      align-items: center; /* Center align cards on smaller screens */
      margin-top: 100px; /* Adjust for smaller screens */
      margin-left: 20px; /* Adjust for smaller screens */
      margin-right: 20px; /* Adjust for smaller screens */
    }
  }




 